.row{

      display: flex;

      flex-wrap: wrap;

      margin-left: -15px;
background-color: transparent !important;
}

.card{
  background-color: transparent !important;
  margin-top: 15px
}
.cardsize{

  width: 15rem;
  margin-left: 40px;
  border: solid lightgray;
  height: 30rem;
background-color: white;
}
.cardsize img{

width: 100%;
height: 30%;
}
html{
  margin: 0;
  padding: 0;
  background-image:url(css/background2.jpg);
  background-position: top;
  background-size: cover;

}
body{

color: #212529;
background-color: transparent !important;

}
