html
{
  margin: 0;
  padding: 0;
  background-image:url(css/background.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;

}
body{

  font-family: monospace;
}

.row {

float: right;
background-color: black;
width: 100%;
min-height: :61px;

}
.row ul{
  float:right;
  margin-right: 15px;
}
.row  li
{

display: inline-block;


}
.row li a
{
  color:white;
  text-decoration: none;
  padding: 0px 20px;
  font-family:"Roboto", sans-serif;
  font-size: 15px;

}
.row li.active a
{
border:1px solid white;
}
.row li a:hover
{
border:1px solid white;
}
.hero
{
margin-left: 15px;
  float: left;
  height: 20%;
  width: 50%;

}
.hero h1
{
  color: white;
  text-transform: uppercase;
  font-size: 70px;
  text-align: left;

}
.btn
{
  border: 1px solid white;
  padding: 10px 30px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  margin: auto;
  margin-right: 15px;


}

.btn-one
{
font-family:"Roboto", sans-serif;

}
.btn-one:hover
{
  background-color: darkorange;
  transition: all 0.5 ease-in;
}
.btn-two
{
  font-family:"Roboto", sans-serif;
  }

  .btn-two:hover
  {
    background-color: darkorange;
    transition: all 0.5 ease-in;
  }


/* This is related to about.html -->*/

.section
{
  width:100%;
  position: absolute;
  z-index: -1;
}

.section img
{
  border: 4px solid black;
  border-radius: 264px;
  width: 20%;

    }


.redessociais ul{

float:right;
border-right: 5px;

}
.redessociais li{list-style: none;}
.redessociais li a img{height: 45px;width: 45px;}
.redessociais li a img:hover{
  border:1px solid white;
  transform: scale(1.2);
  background-color: white;
}

.title h2{
  margin-top: 30px;
  font-family:"Roboto", sans-serif;
  text-align: center;
  font-size: 70px;
  color: white;
}

  .tabela  {
    background-color: blue;
    margin:auto;


  }
  .tabela ul{
    float:right;
    margin-right: 15px;
  }
  .tabela  li{
  display: inline-block;
  }
  .tabela li a
  {
    color:white;
    text-decoration: none;
    padding: 0px 20px;
    font-family:"Roboto", sans-serif;
    font-size: 15px;

  }
  .tabela li.active a
  {
  border:1px solid white;
  }
  .tabela li a:hover
  {
  border:1px solid white;
  }


  /* This codes relate to projects.html  !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!"""""""""""!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

  .pagining li
  {
    display: inline-block;

    margin-top: 150px;
    margin-left: 50px;
    color: darkorange;
    text-align: center;
    padding: 10px 0px 0;


  }
.pagining li a img
{
  height: 250px;
  width: 250px;
transition: transform 1s;
  /*-webkit-transition: width .35s ease-in-out;
  /*transition: width .35s ease-in-out;
  -webkit-transition: height .35s ease-in-out;
  transition: height .35s ease-in-out;*/
}
.pagining li a img:hover
{
  border:1px solid white;
  transform: scale(1.2);

}
.pagining h4
{
  color: white;
  text-transform: uppercase;
  font-size: 40px;
  text-align: center;
  margin-top: 0px;
}

.slider
{
  width: 850px;
  height: 500px;
  animation: slide 20s infinite;
  margin-top: -750px;
  margin-left: 1000px;

 border-style: dashed;
 border-color: white;
 border-radius: 2px;
}
@keyframes slide
{

  25%{
    background: url(css/slide2.jpg);
    background-size: 100%;
    background-position:center;

  }
  50%{
    background: url(css/slide3.jpg);
    background-size: 100%;
    background-position:center;
  }
  75%{
    background: url(css/slide1.jpg);
    background-size: 100%;
    background-position:center;
  }
  100%{
    background: url(css/law.jpg);
    background-size: 100%;
    background-position:center;
  }
}
/*Style for PAGE4.html*/
.box {
  width: 400px;
  height: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform:  translate(-50%,-50%);
  overflow: hidden;


}
.box figure{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;


}
.box  figure img{
  width: 100%;
  height: 100%;

}
.box  figcaption{
  position: absolute;
  top: 0;
  left:0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 80px 20px;
  z-index: 100;
  opacity: 0;
  transition-delay: .3s;
  transition: .5s ease;


}
.box:hover  figcaption{
  opacity: 1;
  background-color: blue;
}
.box figure:before,
.box  figure:after
{
  content:'';
  position: absolute;
  transition: .5s ease-in-out;
  width: 200%;
  height: 200%;
  background: #000;
  }
  .box  figure:before{
    right: 0;
    bottom:0;
    background: rgba(255, 0, 0, 0.8);
    transform: skew(45deg) translateX(100%);
  }
  .box figure:after{
    right: 0;
    bottom:0;
    background: rgba(0,0,255,0.8);
    transform: skew(-135deg) translateX(-100%);
  }
  .box:hover  figure:before{
      transform: skew(45deg) translateX(0%);
  }
  .box:hover  figure:after{
      transform: skew(-135deg) translateX(0%);
  }

  /*Mobile Configuration*/

  @media only screen and (max-width: 768px) {
    .hero
    {

      float: left;
      height: 100%;
      width: 100%;

    }
    .btn {

      padding: 5px 15px;
    }
    .hero h1
    {
      color: white;
      text-transform: uppercase;
      font-size: 35px;
      text-align: left;

    }
    html
    {
        margin: 0;
        padding: 0;
        background-image:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(css/paris.jpg);
        height: 100vh;
        background-size: cover;
        background-position: center;

    }
    @media only screen and (max-width: 568px) {
      html
      {
          margin: 0;
          padding: 0;
          background-image:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(css/backgroundm.jpg);
          height: 100vh;
          background-size:cover;

          background-position: center;

      }
      .hero
      {

        float: left;
        height: 80%;
        width: 100%;

      }
      .btn {

        padding: 1.25px 3.25px;
      }
      .hero h1
      {
        color: white;
        text-transform: uppercase;
        font-size: 25px;
        text-align: left;

      }

  }

.row{

  opacity: 0;

}

.row div{
  display: inline-block;
  margin-left: 15px;
}
